In [9]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
bitstamp_path = Path("../Challenge3_BitCoin_Arbitrage/Resources/bitstamp.csv")
coinbase_path = Path("../Challenge3_BitCoin_Arbitrage/Resources/coinbase.csv")

In [27]:
# Bitstamp and Coinbase Dataframe creation 

bitstamp_df = pd.read_csv(
    bitstamp_path, 
    index_col="Timestamp", 
    infer_datetime_format=True, 
    parse_dates=True
)
coinbase_df = pd.read_csv(
    coinbase_path, 
    index_col="Timestamp", 
    infer_datetime_format=True, 
    parse_dates=True
)

bitstamp_df.rename(columns={'Close':'btstmp_Close'}, inplace=True)
coinbase_df.rename(columns={'Close':'coinbs_Close'}, inplace=True)

,Open,High,Low,btstmp_Close,BTC Volume,USD Volume,Weighted Price
Timestamp,,,,,,,
2018-01-01 00:00:00,13681.04,13681.04,13637.93,$13646.48,3.334553,45482.128785,13639.647479
2018-01-01 00:01:00,13646.48,13658.75,13610.18,$13658.75,2.663188,36361.390888,13653.332816
2018-01-01 00:02:00,13616.93,13616.93,13610.06,$13610.22,0.084653,1152.144036,13610.136247
2018-01-01 00:03:00,13610.27,13639.09,13610.27,$13639.09,7.182986,97856.416478,13623.361128
2018-01-01 00:04:00,13635.35,13636.35,13620.00,$13620.0,1.069665,14582.660932,13632.923329

In [44]:
# Dropping NaN's
bitstamp_df = bitstamp_df.dropna().copy()
coinbase_df = coinbase_df.dropna().copy()

# Dropping Duplicates
coinbase_df = coinbase_df.drop_duplicates(keep=False)
bitstamp_df = bitstamp_df.drop_duplicates(keep=False)

# Dropping the dollar sign and setting Close columnb to float
bitstamp_df["btstmp_Close"] = bitstamp_df["btstmp_Close"].str.replace("$", "",regex=False).astype("float")
coinbase_df["coinbs_Close"] = coinbase_df["coinbs_Close"].str.replace("$", "",regex=False).astype("float")

In [45]:
# Use loc or iloc to select `Timestamp (the index)` and `Close` from bitstamp DataFrame
bitstamp_sliced = bitstamp_df.loc[:,'btstmp_Close']
coinbase_sliced = coinbase_df.loc[:,'coinbs_Close']

close_prices_df = pd.concat([coinbase_sliced, bitstamp_sliced], axis=1)
close_prices_df.dtypes

#close_prices_df['coinbs_Close'].astype("float")
#close_prices_df['btstmp_Close'].astype("float")

coinbs_Close    float64
btstmp_Close    float64
dtype: object

In [52]:
close_prices_df['arbtrg_spread'] = (close_prices_df['coinbs_Close'] - close_prices_df['btstmp_Close'])
print(close_prices_df.head(30))

                     coinbs_Close  btstmp_Close  arbtrg_spread
Timestamp
2018-01-01 00:00:00      13608.49      13646.48         -37.99
2018-01-01 00:01:00      13601.66      13658.75         -57.09
2018-01-01 00:02:00      13580.00      13610.22         -30.22
2018-01-01 00:03:00      13550.34      13639.09         -88.75
2018-01-01 00:04:00      13583.44      13620.00         -36.56
2018-01-01 00:05:00      13564.35      13610.00         -45.65
2018-01-01 00:06:00      13539.00      13600.56         -61.56
2018-01-01 00:07:00      13511.02      13580.00         -68.98
2018-01-01 00:08:00      13528.52      13579.00         -50.48
2018-01-01 00:09:00      13522.00      13565.00         -43.00
2018-01-01 00:10:00      13500.72      13550.00         -49.28
2018-01-01 00:11:00      13489.92      13505.52         -15.60
2018-01-01 00:12:00      13489.91      13535.79         -45.88
2018-01-01 00:13:00      13489.91      13545.92         -56.01
2018-01-01 00:14:00      13489.91      13533.98         -44.07
2018-01-01 00:15:00      13489.91      13556.99         -67.08
2018-01-01 00:16:00      13489.91      13575.02         -85.11
2018-01-01 00:17:00      13545.92      13590.85         -44.93
2018-01-01 00:18:00      13598.44      13676.69         -78.25
2018-01-01 00:19:00      13588.95      13605.06         -16.11
2018-01-01 00:20:00      13588.01      13637.01         -49.00
2018-01-01 00:21:00      13560.02      13534.96          25.06
2018-01-01 00:22:00      13515.62      13521.85          -6.23
2018-01-01 00:23:00      13525.72      13550.00         -24.28
2018-01-01 00:24:00      13525.72      13520.70           5.02
2018-01-01 00:25:00      13525.72      13550.00         -24.28
2018-01-01 00:26:00      13525.72      13520.00           5.72
2018-01-01 00:27:00      13500.00      13510.01         -10.01
2018-01-01 00:28:00      13483.46      13511.01         -27.55
2018-01-01 00:29:00      13530.00      13548.36         -18.36

In [83]:

filtered_prices_df = close_prices_df.loc[close_prices_df['arbtrg_spread'] > 0]
#filtered_prices_df.shape
#filtered_prices_df.head(30)

choice_prices = filtered_prices_df.sort_values(['arbtrg_spread'], ascending=False).groupby('arbtrg_spread').head(100)
#choice_prices = filtered_prices_df.groupby('arbtrg_spread').value.nlargest(30).reset_index()
display(choice_prices.iloc[50:100])
##data.iloc[0:10] # first five rows of dataframe

                     coinbs_Close  btstmp_Close  arbtrg_spread
Timestamp
2018-01-09 08:17:00      14531.13      14351.72         179.41
2018-01-16 19:22:00      11747.68      11569.31         178.37
2018-01-16 17:45:00      10990.00      10813.25         176.75
2018-01-16 02:59:00      12605.22      12429.09         176.13
2018-01-16 19:00:00      11570.00      11395.00         175.00
2018-02-02 07:58:00       8174.60       8000.00         174.60
2018-01-14 04:09:00      13507.51      13333.37         174.14
2018-01-04 03:26:00      14800.01      14626.03         173.98
2018-01-04 02:10:00      14984.36      14810.91         173.45
2018-01-16 18:58:00      11570.01      11396.86         173.15
2018-01-16 18:57:00      11571.30      11399.99         171.31
2018-01-04 02:12:00      14984.00      14813.51         170.49
2018-01-16 19:06:00      11790.01      11621.70         168.31
2018-01-17 05:07:00      10500.00      10331.72         168.28
2018-01-09 19:19:00      14235.19      14070.01         165.18
2018-01-04 02:15:00      14935.00      14770.00         165.00
2018-01-04 07:27:00      14623.99      14459.67         164.32
2018-01-17 09:44:00       9824.99       9661.19         163.80
2018-01-10 03:18:00      13750.00      13587.00         163.00
2018-01-10 03:54:00      13575.00      13412.00         163.00
2018-01-16 02:56:00      12661.01      12499.00         162.01
2018-01-04 03:22:00      14869.75      14709.01         160.74
2018-01-10 03:06:00      14000.00      13839.51         160.49
2018-01-09 19:26:00      14075.05      13914.76         160.29
2018-01-16 05:48:00      11953.13      11793.10         160.03
2018-01-10 03:17:00      13800.00      13640.90         159.10
2018-01-16 18:13:00      11052.80      10894.69         158.11
2018-01-09 19:23:00      14075.81      13918.00         157.81
2018-01-04 02:20:00      14929.00      14771.84         157.16
2018-01-16 17:39:00      10777.00      10619.89         157.11
2018-01-16 05:22:00      11888.00      11731.09         156.91
2018-01-04 03:41:00      14510.00      14354.00         156.00
2018-01-01 23:29:00      13143.00      12987.14         155.86
2018-01-09 05:42:00      14655.75      14500.00         155.75
2018-01-08 05:17:00      15352.64      15197.23         155.41
2018-01-16 03:40:00      12295.00      12139.73         155.27
2018-01-16 03:38:00      12131.59      11976.99         154.60
2018-01-10 05:25:00      13924.29      13770.01         154.28
2018-01-16 18:55:00      11580.00      11425.81         154.19
2018-01-16 05:54:00      11853.16      11700.00         153.16
2018-02-02 07:59:00       8252.99       8100.00         152.99
2018-01-08 10:19:00      14527.91      14375.00         152.91
2018-01-04 07:25:00      14644.00      14491.33         152.67
2018-01-04 07:24:00      14643.99      14491.33         152.66
2018-01-17 04:52:00      10509.99      10358.00         151.99
2018-01-16 18:20:00      11200.00      11048.45         151.55
2018-01-09 05:45:00      14601.00      14450.00         151.00
2018-01-05 12:40:00      16501.85      16351.00         150.85
2018-01-04 03:40:00      14550.42      14400.00         150.42
2018-01-16 03:13:00      12200.00      12050.00         150.00